:root {
    --blackBackground: black;
    --borderColor: White;
    --borderShadow: 10px 10px 10px hotPink;
    --sectionBorder: dotted 1px var(--borderColor);

}
::selection {

}

html {
    /* 62.5% of 16px base font size is 10px */
    font-size: 62.5%;
  }


body {
    color: white;
    background-color: var(--blackBackground);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

main {
    display: flex;
    flex-wrap: wrap;

}
.cardHeader {
    display:inline;
    border: solid 1px white; 
    /* position: absolute; */

}


.container {
    width: 33%;
    height: auto; 
   }

.contentBox {
    margin:3px;
    border: var(--sectionBorder);
}


@media screen and (max-width:768px) {
    
    .container {
        width: 49%;
        height: auto;
        border: var(--sectionBorder);
        
       }
         
}




@media screen and (max-width:400px) {
    
    .container {
        width: 100%;
        height: auto;
        border: var(--sectionBorder);
        
       }
         
}
