:root {
    --darkColor: black;
    --lightColor: White;
    --themeColor: 10px 10px 10px hotPink;
    --sectionBorder: dotted 1px var(--lightColor);
    --borderRadius: 20%;

}
::selection {
    background-color: turquoise;
    color: var(--darkColor);
}

html {
    /* 62.5% of 16px base font size is 10px */
    font-size: 62.5%;
    box-sizing: border-box;
  }

  header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
  }

body {
    font-size: 1.75rem;
    line-height: 1.5;
    color: white;
    background-color: var(--darkColor);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

main {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin: 0;
  width: 33%;
  height: auto; 
}

.card {
    /* display:flex; */
    margin: 2rem;
    border: var(--sectionBorder);
}

.cardHeader {
    display: absolute;
    background-color: var(--darkColor);
    max-width: 80%;
    margin-left: 10%;
    margin-top:-2rem;
    height: 4rem;
   text-align: center;
   border: solid 1px white; 
   font-size: 2.5rem;

}

.contents {
    padding: 2.5rem;
}

pre {
    text-align: left;
}
code {
    max-width: 80%;
    white-space: pre-wrap;
    background-color: var(--themeColor);
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
monospace;

}



@media screen and (max-width:768px) {
    
    .container{
        width: 49%;
        
       }
         
}




@media screen and (max-width:400px) {
    
    .container {
        width: 100%;
      
        
       }
         
}

footer{
    text-align: center;
}
